[unit]
Description = Initializes robot ros nodes on startup

[Service]
Type = simple
User = jake
ExecStart=/bin/bash /usr/bin/crawler_startup_service.sh

[Install]
WantedBy = multi-user.target
